name = "5ch-tracker"
compatibility_date = "2026-01-17"
main = "src/index.ts"

[[d1_databases]]
binding = "DB"
database_name = "stock-rankings"
database_id = "621699fa-e616-44f1-a52b-2904a4ff069f"

[observability]
enabled = true

[observability.logs]
enabled = true
head_sampling_rate = 1

[observability.traces]
enabled = true
head_sampling_rate = 1
